*{
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

html, body{
  height: 100%;
  background-color: #000;
  display: grid;
  
}


.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
  padding: 20px;
  grid-gap: 40px;
  max-height: 60vh;
  min-height: 20vh;
}
img{
  width: 100%;
  display: block;
  border-radius: 20px 20px 0 0;
  height: 40vh;
}
.card {
  background-color: #1c1b29;
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(0,0,0,0.18);
}

.details{
  padding: 20px 10px;
}
.details>h3{
  color: #ffffff;
  font-weight: 600;
  font-size: 18px;
  margin: 10px 0 15px 0;
}
.details>p{
  color: #a0a0a0;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
}

.container{
  position: relative;
  clip-path: polygon(0 0,100% 0, 100% 85%, 0 100%);
}


.wrapper-button{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;;
}

.container:after{
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px 20px 0 0;
  opacity: 0.7;
}
button{
  width: 90px;
  max-width: 90px;
  min-width: 60px;
  height: 40px;
  border: none;
  margin : 1rem 0;
  border-radius: 8px;
  background-color: transparent;
  color: #fff;
  font-weight: 900;
  cursor: pointer;
  transition: all 0.2s ease-in;
  align-items: center;
}

.button-delete{
  color: #fff;
  background-color: #e76f51;
}

.button-update{
  color: #fff;
  background-color: #9d4edd;
}
  