
    <header>
        
        <nav>
            <ul class="nav__links">
                <li><a href="/home"><i class="fa fa-home"></i> Home</a></li>
                <li><a href="/"><i class="fa fa-upload"></i> Upload</a></li>
                <li><a href="#">About</a></li>
            </ul>
        </nav>
    </header>